<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Add User</h1>

<form action="#" th:action="@{/addPost}" th:object="${post}" method="post">
    <p>
        Title: <input type="text" th:field="*{title}">
    </p>
    <p>
        Body: <input type="text" th:field="*{body}">
    </p>
    <p>
        Summary: <input type="text" th:field="*{summary}">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>